<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:demo/sports.properties" />

    <!-- Define your beans here -->
    <!-- Define the dependency -->
    <bean id="myFortuneService"
          class="demo.HappyFortuneService">
    </bean>
    <bean id="myCoach"
        class="demo.TennisCoach">
        <!-- set up constructor injection -->
        <constructor-arg ref="myFortuneService" />
    </bean>

    <bean id="myCricketCoach" class="demo.CricketCoach">
        <!--setter -->

        <property name="fortuneService" ref="myFortuneService" />
        <!--
        <property name="emailAddress" value="matidasilva34@gmail.com" />
        <property name="teamName" value="Baltimore Lions" />
        -->
        <property name="emailAddress" value="${teste.emailAddress}" />
        <property name="teamName" value="${teste.teamName}" />
    </bean>
</beans>





